/* YOUR CUSTOM CSS */
.dropzone {
  border-radius: 0;
  background-color: transparent;
  border: 2px dashed rgba(0, 0, 0, 0.1);
  min-height: 180px;
  max-height: 180px;
  padding: 0;
  margin-bottom: 15px;
  cursor: pointer;
}

.dz-dropzone {
  border-radius: 0;
  background-color: transparent;
  border: none;
  min-height: 180px;
  max-height: 180px;
  padding: 0;
  margin-bottom: 15px;
}

.dropzone-label {
  margin-top: 24%;
  margin-left: 20%;
  color: #ec008c;
  font-weight: 700;
  /* display: table-cell; */
  vertical-align: middle;
  text-align: center;
}

.dropzone-image {
  min-height: 170px;
  max-height: 170px;
  max-width: 260px;
  display: flex;
  justify-content: center;
}

element.style {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, 28px, 0px);
}

.collapse-footer > ul > li{
  margin-left: -40px !important;
  color:#343a40 !important;
}

.collapse-footer > ul > li >a{
  color:#343a40 !important;
}

.collapse-footer > ul {
  list-style-type: none
}

.followus > ul {
  margin: 0 0 25px 0;
  padding: 0;
  list-style: none !important;
}
.followus > ul > li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.followus > ul > li > a > img {
    width: 30px !important;
    height: 30px !important;
}

.loading-spiner{
  display: flex;
  margin: 0 auto;
  height: 50vh;
  justify-content: center;
  align-items: center;
}
.search_result{
  background-color: #fffefe;
  margin-top: 2px;
  list-style: none;
  cursor: pointer;
  border-radius:5px;
  padding-left: 25px;
  max-height: 100px;
  overflow: auto;
  z-index: 99999;
}
.search_list{
  list-style: none;
  font-size: 12;
  font-weight: 300;
  cursor: pointer;
}

.search_list > a{
  color: black !important;
}

.carousel-indicators {
  display: none !important;
}


/* .carousel-control-next-icon, .carousel-control-prev-icon {
    border-radius: 50% !important;
    background-color: rgb(54, 49, 49) !important;
    width: 56% !important;
    height: 50% !important;
} */


.slick-slide .slick-active .slick-current{
  width: 170px !important;
}


.review-range{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

.rangeslider {
    height: 5px;
    width: 100%;
    background: white;
}

.secondary_nav ul li a {
    border-radius: 20px !important;
    padding: 5px 15px !important;
    background-color: rgba(0, 0, 0, 0.05)!important;
}

.secondary_nav ul li a {
    display: inline-block !important;
}

.secondary_nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.secondary_nav {
    width: 100%;
    background-color: #fff !important;
    border-top: 1px solid #ededed !important;
    padding: 20px 0 !important;
    position: relative !important;
}

.list-group-item{
  border: none !important;
}

.is_stuck_nav {
    position: fixed !important;
    top: 0px !important;
    width: 431px;
    z-index: 99999;
}

.input_ranger{
  width: 100%;
}

.slick-list > .slick-arrow > .slick-next {
    display: block;
    background-color: #c94643;
    border-radius: 100%;
    width: 5%;
    height: 21%;
}

.add-fav-btn {
    cursor: pointer;
    display: inline-block;
    background-color: white;
    text-decoration: none;
    width: 110px;
    border-radius: 2px;
  
}